.Calculator {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 1px #eee;
}

.display {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

input[type='text'] {
    width: 100%;
    padding: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 10px;
    font-size: 1.2rem;
    background-color: #007bff;
    color: #2e2828;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}